.containerHeaderMenu {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: --light-color-theme;
}

.containerImageLogo {
    display: flex;
    /* width: 100%; */
    /* max-width: 100%; */
    align-items: center;
    justify-content: center;
}

.containerHeaderLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerHeaderLinks button{
    display: flex;
    margin: 0 20px;
    background: none;
    border: none;
}

.imageLogo {
    display: flex;
    width: 100%;
    max-width: 100%;
}
