.ChatNowButton {
    background: white;
    border: 1.8px solid #EE9591;
    color: #EE9591;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}
.ButtonMessageContent {
    width: 400px;
    max-width: 100%;
    width: 960px;
    max-width: 100%;
    margin: 10px auto;
}