.ChatNowButton {
    background: white;
    border: 1.8px solid #EE9591;
    color: #EE9591;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}
.ButtonMessageContent {
    margin: 10px auto;
    position: absolute;
    top: 60%;
    left: 12%;
}