.containerSenderMessage {
    display: flex;
    max-width: 80%;
    margin: 20px 0 0 auto;
}

.containerSenderMessage img {
    display: flex;
    height: 35px;
    width: 35px;
}

.senderboxMessage {
    display: block;
    padding: 15px;
    margin: 0 15px 0 0;
    border: 1.5px solid #EE7C83;
    border-radius: 10px 0 10px 10px;
    color: black;
}

.senderboxMessage p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.containerReciverMessage {
    display: flex;
    max-width: 80%;
    margin: 20px auto 0 0;
    flex-direction: row-reverse;
}

.containerReciverMessage img {
    display: flex;
    height: 35px;
    width: 35px;
}

.reciverboxMessage {
    display: block;
    padding: 15px;
    margin: 0 0 0 15px;
    border: 1.5px solid #BCBCBC;
    color: black;
    border-radius: 0 10px 10px 10px;
}