.containerChatHeader {
    display: flex;
    max-width: 45%;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.chatImageLogo {
    display: flex !important;
    max-width: 100% !important;
    width: 30px !important;
    height: 30px !important;
}

.containerChatHGeaderInfo {
    display: block;
}